/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */
/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* Body --------------------------------------------------------------*/
/* line 13, ../src/_defaults.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
}

/* Links --------------------------------------------------------------*/
/* line 21, ../src/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 24, ../src/_defaults.scss */
a:focus, a:hover, a:active {
  color: #00467f;
  text-decoration: none;
}
/* line 28, ../src/_defaults.scss */
a img {
  border: none;
}

/* Headings --------------------------------------------------------------*/
/* line 35, ../src/_defaults.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
/* line 37, ../src/_defaults.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 42, ../src/_defaults.scss */
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* line 47, ../src/_defaults.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

/* line 52, ../src/_defaults.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 57, ../src/_defaults.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 1.333em;
}

/* line 62, ../src/_defaults.scss */
h5, h6 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

/* Text --------------------------------------------------------------*/
/* line 69, ../src/_defaults.scss */
cite, em, dfn {
  font-style: italic;
}

/* line 73, ../src/_defaults.scss */
strong, dfn {
  font-weight: bold;
}

/* line 77, ../src/_defaults.scss */
sup, sub {
  line-height: 0;
}

/* line 81, ../src/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 86, ../src/_defaults.scss */
address {
  margin-bottom: 1.5em;
  font-style: italic;
}

/* line 91, ../src/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 95, ../src/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 99, ../src/_defaults.scss */
pre, code, tt {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px dotted;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

/* line 108, ../src/_defaults.scss */
pre {
  white-space: pre;
}

/* line 112, ../src/_defaults.scss */
code {
  display: block;
}

/* line 116, ../src/_defaults.scss */
q {
  font-style: italic;
}
/* line 118, ../src/_defaults.scss */
q em {
  font-style: normal;
}

/* line 123, ../src/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 127, ../src/_defaults.scss */
blockquote, q {
  quotes: "" "";
}

/* line 131, ../src/_defaults.scss */
blockquote {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px solid;
  font-family: 'Adobe Caslon Pro', Caslon, Baskerville, Palatino, 'Palatino Linotype', "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  font-style: italic;
}

/* line 142, ../src/_defaults.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* Replaced --------------------------------------------------------------*/
/* line 149, ../src/_defaults.scss */
img {
  vertical-align: bottom;
}

/* Lists --------------------------------------------------------------*/
/* line 170, ../src/_defaults.scss */
ol {
  margin: 0 1.5em 1.5em 0;
  list-style: decimal;
}

/* line 174, ../src/_defaults.scss */
ul {
  margin: 0 1.5em 1.5em 0;
  list-style: disc;
}

/* line 179, ../src/_defaults.scss */
li ul, li ol {
  list-style-type: circle;
  margin: 0 1.5em 0.75em;
}

/* line 185, ../src/_defaults.scss */
dl {
  margin-bottom: 1.5em;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 1.438em;
}
/* line 188, ../src/_defaults.scss */
dl dt {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 0.667em;
}

/* line 194, ../src/_defaults.scss */
dd {
  margin-bottom: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
}

/* Tables --------------------------------------------------------------*/
/* tables still need 'cellspacing="0"' in the markup */
/* line 202, ../src/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 209, ../src/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 213, ../src/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 217, ../src/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 223, ../src/_defaults.scss */
th, td {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 227, ../src/_defaults.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 231, ../src/_defaults.scss */
caption {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* Forms --------------------------------------------------------------*/
/* line 238, ../src/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 243, ../src/_defaults.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 248, ../src/_defaults.scss */
label {
  font-weight: bold;
}

/* line 252, ../src/_defaults.scss */
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* Layout --------------------------------------------------------------*/
/* line 29, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-susy-plugin-0.7.0/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-susy-plugin-0.7.0/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 18, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-susy-plugin-0.7.0/sass/susy/_susy.scss */
body {
  text-align: center;
}

/* line 14, ../src/screen.scss */
#page {
  text-align: left;
}

/* Styles --------------------------------------------------------------*/
/* line 25, ../src/screen.scss */
html, body {
  background-color: #ccc;
}

/* line 32, ../src/screen.scss */
#map {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  position: fixed;
  width: 100%;
  top: 96px;
  bottom: 72px;
}

/* line 40, ../src/screen.scss */
h1 {
  font-size: 3em;
  line-height: 2em;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  text-shadow: #666666 0 1px 1px;
  background-color: white;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 48, ../src/screen.scss */
h1 img {
  margin-left: 1ex;
  margin-right: 1ex;
}

/* line 54, ../src/screen.scss */
dl#legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  position: absolute;
  bottom: 0;
  width: 20em;
  margin-left: 1em;
}
/* line 60, ../src/screen.scss */
dl#legend dt, dl#legend dd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* line 63, ../src/screen.scss */
dl#legend dt {
  width: 5em;
  display: inline;
  float: left;
  margin-right: 1em;
  text-indent: -9999px;
}

/* line 71, ../src/screen.scss */
ul#controlToggle {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  position: absolute;
  bottom: 0;
  right: 1em;
}
/* line 11, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
ul#controlToggle li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 79, ../src/screen.scss */
ul#instructions {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  position: absolute;
  left: 22em;
  width: 20em;
  bottom: 0;
}

/* line 87, ../src/screen.scss */
dl#source {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-top: 1.5em;
  position: absolute;
  top: 0;
  right: 1em;
}
/* line 93, ../src/screen.scss */
dl#source dt, dl#source dd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: inline;
  float: left;
}
/* line 97, ../src/screen.scss */
dl#source dt {
  margin-right: 1em;
  text-transform: uppercase;
  clear: left;
}
/* line 102, ../src/screen.scss */
dl#source dd {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 107, ../src/screen.scss */
#amalthea {
  font-size: 0.75em;
  line-height: 1.5em;
  -moz-box-shadow: #333333 0 0 5px;
  -webkit-box-shadow: #333333 0 0 5px;
  -o-box-shadow: #333333 0 0 5px;
  box-shadow: #333333 0 0 5px;
}

/* line 112, ../src/screen.scss */
.amalthea {
  background-color: orange;
}
