/* Welcome to Susy. Use this file to define screen styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> */

// Imports --------------------------------------------------------------*/

@import "defaults";

/* Layout --------------------------------------------------------------*/

@include susy;

// change '#page' to match your HTML container element(s)
#page {
  text-align: left;
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles --------------------------------------------------------------*/

html,body {
  background-color: #ccc;
}

#page {
}

#map {
  @include box-shadow(rgba(0, 0, 0, 0.8), 0, 0);
  position: fixed;
  width: 100%;
  top: 96px;
  bottom: 72px;
}

h1 {
  @include adjust-font-size-to(48px, 4);
  @include linear-gradient(color_stops(white, #eee));
  @include text-shadow(#666, 0, 1px);
  background-color: white;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  img {
    margin-left: 1ex;
    margin-right: 1ex;
  }
}

dl#legend {
  @include reset-box-model;
  position: absolute;
  bottom: 0;
  width: 20em;
  margin-left: 1em;
  dt,dd {
    @include reset-box-model;
  }
  dt {
    width: 5em;
    @include float-left;
    margin-right: 1em;
    text-indent: -9999px;
  }
}

ul#controlToggle {
  @include no-bullets;
  @include reset-box-model;
  position: absolute;
  bottom: 0;
  right: 1em;
}

ul#instructions {
  @include reset-box-model;
  position: absolute;
  left: 22em;
  width: 20em;
  bottom: 0;
}

dl#source {
  @include reset-box-model;
  @include leader(1);
  position: absolute;
  top: 0;
  right: 1em;
  dt,dd {
    @include reset-box-model;
    @include float-left;
  }
  dt {
    margin-right: 1em;
    text-transform: uppercase;
    clear: left;
  }
  dd {
    @include adjust-font-size-to(12px);
  }
}
